body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #7dbccd;
}

main {
  display: inline-block;
  width: 800px;
  margin-top: 60px;
  margin-left: calc((100% - 800px) / 2);
}

.left-column {
  width: 40%;
  float: left;
  padding: 40px;
  background-color: yellow;
  background-image: url(../img/hill.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  font-size: 60px;
  margin-bottom: 350px;
}

.bottom-links {
  font-size: 15px;
}

.bottom-links > a {
}

.bottom-links > span {
}

.right-column {
  width: 60%;
  float: left;
  background-color: white;
  /* margin: 60px; */
  padding: 60px;
}

.close {
}

.mouse {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 50px;
  border-radius: 50%;
  background-color: greenyellow;
  box-shadow:
    0 0 0 50px pink,
    0 0 0 80px red;
} 